<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editcourse</title>
</head>
<body>
    <h1><a href="/course/1">Create Data</a></h1>
    <table border="1">
        <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>uid</th>
            <th>강의 이름</th>
            <th>교수명</th>
            <th>리뷰 평점</th>
            <th>리뷰 개수</th>
            <th>학기</th>
            <th>학년</th>
            <th>학점</th>
            <th>개설 학과</th>
        </tr>
        {{range .Courses}}
        <tr>
            <td><a href="/course/2">UPDATE</a></td>
            <td><a href="/course/3">DELETE</a></td>
            <td>{{.Name}}</td>
            <td>{{.Professor}}</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{end}}
        {{range .DB }}
        <tr>
            <td><a href="/course/2/{{.Uid}}">UPDATE</a></td>
            <td><a href="/course/3">DELETE</a></td>
            <td>{{.Name}}</td>
            <td>{{.Professor_name}}</td>
            <td>{{.Season}}</td>
            <td>{{.Grade}}</td>
            <td>{{.Credit}}</td>
            <td>{{.Category}}</td>
            <td></td>
            <td></td>
            <td>{{.Uid}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>