<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{if .isUpdate}}Update Course{{else}}Create Course{{end}}</title>
</head>
<body>
<h1>{{if .isUpdate}}Update Course{{else}}Create Course{{end}}</h1>
<form method="post">
    <table border="1">
        <tr>
            <td>Name</td>
            {{if .isUpdate}}<td>{{.CourseData.Name}}</td>{{else}}{{end}}
            <td><input type="text" name="Name"></td>    
        </tr>
        <tr>
            <td>Professor_name</td>
            {{if .isUpdate}}<td>{{.CourseData.Professor_name}}</td>{{else}}{{end}}
            <td><input type="text" name="Professor_name"></td>
        </tr>
        <tr>
            <td>Season</td>
            {{if .isUpdate}}<td>{{.CourseData.Season}}</td>{{else}}{{end}}
            <td><input type="text" name="Season" value="Season"></td>
        </tr>
        <tr>
            <td>Grade</td>
            {{if .isUpdate}}<td>{{.CourseData.Grade}}</td>{{else}}{{end}}
            <td><input type="text" name="Grade" value="Grade"></td>
        </tr>
        <tr>
            <td>Credit</td>
            {{if .isUpdate}}<td>{{.CourseData.Credit}}</td>{{else}}{{end}}
            <td><input type="text" name="Credit" value="Credit"></td>
        </tr>
        <tr>
            <td>Category</td>
            {{if .isUpdate}}<td>{{.CourseData.Category}}</td>{{else}}{{end}}
            <td><input type="text" name="Category" value="Category"></td>
        </tr>
    </table>
    <input type="submit">

</form>
</body>
</html>