<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{if .isUpdate}}Update Lecture{{else}}Create Lecture{{end}}</title>
</head>
<body>
<h1>{{if .isUpdate}}Update Lecture{{else}}Create Lecture{{end}}</h1>
<form method="post">
    <table border="1">
        <tr>
            <td>Department</td>
            {{if .isUpdate}}<td>{{.LectureData.Department}}</td>{{else}}{{end}}
            <td><input type="text" name="Department"></td>
        </tr>
        <tr>
            <td>Name</td>
            {{if .isUpdate}}<td>{{.LectureData.Name}}</td>{{else}}{{end}}
            <td><input type="text" name="Name"></td>    
        </tr>
        <tr>
            <td>Professor_name</td>
            {{if .isUpdate}}<td>{{.LectureData.Professor_name}}</td>{{else}}{{end}}
            <td><input type="text" name="Professor_name"></td>
        </tr>
        <tr>
            <td>Semester</td>
            {{if .isUpdate}}<td>{{.LectureData.Semester}}</td>{{else}}{{end}}
            <td><input type="text" name="Semester" value="202202"></td>
        </tr>
        <tr>
            <td>Credit</td>
            {{if .isUpdate}}<td>{{.LectureData.Credit}}</td>{{else}}{{end}}
            <td><input type="text" name="Credit" value="1"></td>
        </tr>
        <tr>
            <td>Parent</td>
            {{if .isUpdate}}<td>{{.LectureData.Parent}}</td>{{else}}{{end}}
            <td><input type="text" name="Parent" value="0"></td>
        </tr>
    </table>
    <input type="submit">

</form>
</body>
</html>