<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "layout/header" . }}
</head>
<body>
    <div class="d-grid gap-2 col-4 mx-auto d-md-flex justify-content-md-center">
        <a class="btn btn-primary" href="/review/{{.Lectid}}/c" role="button">Create Data</a>
        <a class="btn btn-primary" href="/lecture" role="button">Lecture</a>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-6 row-cols-2 row-cols-md-4 row-cols-xl-4 juxtify-content-center">
            {{range $e := .ReviewData}}
            <div class="col mb-5">
                <div class="h-100 card">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <p class="word card-text fs-6 lh-base">{{.Comment}}</p>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="row g-2">
                                {{$score := $e.Assignment}}
                                <div class="col">
                                    <p class="fs-6">과제</p>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {{range $i, $num := $.Scale_3}}
                                            {{if lt $i $score}}
                                            <div class="bi bi-star-fill"></div>
                                            {{else}}
                                            <div class="bi bi-star"></div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </div>
                                {{$score := $e.Team_project}}
                                <div class="col">
                                    <p class="fs-6">팀플</p>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {{range $i, $num := $.Scale_3}}
                                            {{if lt $i $score}}
                                            <div class="bi bi-star-fill"></div>
                                            {{else}}
                                            <div class="bi bi-star"></div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </div>
                                {{$score := $e.Presentation}}
                                <div class="col">
                                    <p class="fs-6">발표</p>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {{range $i, $num := $.Scale_3}}
                                            {{if lt $i $score}}
                                            <div class="bi bi-star-fill"></div>
                                            {{else}}
                                            <div class="bi bi-star"></div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                {{$score := $e.Beneficial}}
                                <div class="col">
                                    <p class="fs-6">유익함</p>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {{range $i, $num := $.Scale_5}}
                                            {{if lt $i $score}}
                                            <div class="bi bi-star-fill"></div>
                                            {{else}}
                                            <div class="bi bi-star"></div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </div>
                                {{$score := $e.Honey}}
                                <div class="col">
                                    <p class="fs-6">꿀강</p>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {{range $i, $num := $.Scale_5}}
                                            {{if lt $i $score}}
                                            <div class="bi bi-star-fill"></div>
                                            {{else}}
                                            <div class="bi bi-star"></div>
                                            {{end}}
                                        {{end}}
                                    </div>
                                </div>
                            </div>                  
                        </div>
                        <p class="card-text text-end"><small class="text-muted">{{.Created_at}}</small></p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>