<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
</head>
<body>
    <h1><a href="/review/{{.Lectid}}/c">Create Data</a></h1>
    <h2>현재 접속자 : {{ .Userid}}</h2>
    <table border="1">
        <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>uid</th>
            <th>강의 이름</th>
            <th>유익함 점수</th>
            <th>꿀강 점수</th>
            <th>과제</th>
            <th>팀플</th>
            <th>발표</th>
            <td>코멘트</td>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        {{range .ReviewData}}
        <tr>
            {{if eq $.Userid .Writer}}
            <td><a href="/review/{{.Lecture_uid}}/{{.Uid}}/u">UPDATE</a></td>
            <td><a href="/review/{{.Lecture_uid}}/{{.Uid}}/d">DELETE</a></td>
            {{else}}
            <td></td>
            <td></td>
            {{end}}
            <td>{{.Uid}}</td>
            <td>{{.Lecture_name }}</a></td>
            <td>{{.Beneficial}}</td>
            <td>{{.Honey}}</td>
            <td>{{.Assignment}}</td>
            <td>{{.Team_project}}</td>
            <td>{{.Presentation}}</td>
            <td>{{.Comment}}</td>
            <td>{{.Writer}}</td>
            <td>{{.Created_at }}</td>
        </tr>
        {{end}}
    </table>
    <button><a href="/lecture">Lecture</a></button>
</body>
</html>