<div class="row" style="float: none; margin:0 auto;">
    <div class="col" style="float: none; margin:0 auto;">
        <div class="row mb-3">
            <label for="Beneficial-range" class="col-sm-5 form-label">유익함</label>
            <div class="col-sm">
                <input type="range" class="form-range" name="Beneficial" id="Beneficial-range" min="1" max="5" step="1" value="3">
            </div>
        </div>
    </div>
    <div class="col" style="float: none; margin:0 auto;">
        <div class="row mb-3">
            <label for="Honey-range" class="col-sm-5 form-label">꿀강</label>
            <div class="col-sm">
                <input type="range" class="form-range" name="Honey" id="Honey-range" min="1" max="5" step="1" value="3">
            </div>
        </div>
    </div>
</div>
<div class="row" style="float: none; margin:0 auto;">
    <div class="col" style="float: none; margin:0 auto;">
        <div class="row mb-3">
            <label for="Assignment-range" class="col-sm-5 form-label">과제</label>
            <div class="col-sm">
                <input type="range" class="form-range" name="Assignment" id="Assignment-range" min="1" max="3" step="1" value="2">
            </div>
        </div>
    </div>
    <div class="col" style="float: none; margin:0 auto;">
        <div class="row mb-3">
            <label for="Team-project-range" class="col-sm-5 form-label">팀플</label>
            <div class="col-sm">
                <input type="range" class="form-range" name="Team_project" id="Team-project-range" min="1" max="3" step="1" value="2">
            </div>
        </div>
    </div>
    <div class="col" style="float: none; margin:0 auto;">
        <div class="row mb-3">
            <label for="Presentation-range" class="col-sm-5 form-label">유익함</label>
            <div class="col-sm">
                <input type="range" class="form-range" name="Presentation" id="Presentation-range" min="1" max="3" step="1" value="2">
            </div>
        </div>
    </div>
</div>
<div class="form-floating mb-2">
    <textarea class="form-control" name="Comment" id="CommentTextArea" style="height: 200px; resize: none;"></textarea>
    <label for="CommentTextArea">후기</label>
</div>